.pie-pagina {
    width: 100%;
    background-color: #0A0A0A;

    .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    .box {
        .links {
            ul{
                li{
                    padding: 5px 0px;
                    a{
                        color: white;
                        text-decoration: none;
                        transition: 0.4s;
                        margin: 0;
                        padding: 0;
                    }
                    a:hover {
                        color: gray;
                        }
                }
            }
        }
        h2 {
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
        }
        p {
        color: #efefef;
        margin-bottom: 10px;
        }
    }
    .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #1F1F1F;
        text-align: center;
        transition: all 300ms ease;
        &:hover {
            transform: translate(2px, 2px);
        }
    }
    }
    .grupo-2 {
    background-color: #1F1F1F;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    small {
        font-size: 15px;
    }
    }
}
