// SERVICIOS
#h1Banner{
    color: #fff;
            font-size: 30px;
            font-weight: 400;
            margin-top: 23px;
            padding: 10px 0px;
            line-height: 40%;
    }
.h2Banner{
font-size: x-large;
padding-top: 1px;
font-weight: bold;
padding-top: 5px;
}
.titServ{
    padding: 40px 50px;
    margin-left: 65px;
    color: #fff;   
}
